<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <section>
      <h3><%- error %> <%- message %></h3> 
      <a href="/">Back To Home Page</a>
    </section>
  </body>
</html>
