<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <section>
      <h3>GitHub OAuth</h3> 
      <a href="<%- url %>">Login With GitHub</a>
    </section>
  </body>
</html>
